<%= form_for @user do |f| %>
  <%= render 'shared/alert', alert: @user.errors %>
  <div class='control-group'>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class='control-group'>
  <%= f.label :password %>
  <%= f.password_field :password %>
  </div>
  <br/>
  <%= f.submit @user.new_record? ? "Register" : "Update Profile", class: "btn btn-info" %>
<% end %>
