<%= render 'shared/content_title', title: "User Details" %>

<div class="well">
  <dl class="dl-horizontal">
    <dt>Username:</dt>
    <dd><%= @user.username %></dd>
  </dl>
</div>

<h5><%= @user.username %>'s Activity</h5>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active">
    <a href="#posts" data-toggle="tab">Posts (<%= @user.posts.size %>)</a>
  </li>
  <li>
    <a href="#comments" data-toggle="tab">Comments (<%= @user.comments.size %>)</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade in active" id="posts">
    <p><%= render 'shared/posts', posts: @posts %></p>
  </div>
  <div class="tab-pane fade" id="comments">
    <p><%= render 'shared/comments', {obj: @comments, show_post: true} %></p> 
  </div>
</div>
