<p class='pull-right'>
  [<%= link_to "Edit this post", edit_post_path(@post) %>]
</p>
<p>
  <%= render @post.categories %>
</p>

<% title_link = link_to(@post.title, fix_url(@post.url)) %>

<%= render 'shared/content_title', title: title_link %>

  <p><%= @post.description %></p>
  <br/>
  <hr/>

<%= render 'shared/alert', alert: @comment.errors %>

<%= form_for [@post, @comment] do |f| %>
  <div class='control-group'>
    <%= f.label :body, "Leave a comment" %>
    <%= f.text_area :body, rows: 5, class: 'span4'%>
    <br/>
    <%= f.submit "Create Comments", class: 'btn btn-primary'%>
  </div
<% end %>

<!--Iterate through all comments-->
<h5>Comments:</h5>

  <% @post.comments.each do |comment| %>
    <div class = "row">
      <div class='well span8'>
        <em>"<%= comment.body %>"</em>
        <br/>
          <span class='quiet'>commented </span>
            <% if comment.creator == nil %>

            <% else %>
              by <%= comment.creator.username %>
            <% end %>
          at <%= fix_date(comment.created_at) %>
      </div>
    </div>
  <% end %>
